@font-face { 
    font-family: pacifico-regular; 
    src: url('./80s.TTF'); 
} 

header {
    clear: both;
    background-color: hsla(195, 100%, 8%, 0.7) !important;
}

#logo{
    width: 15%;
    float: left;
    padding: 2em 0 0 2em;
}

label#searchbar {
    float: left;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    font-style: oblique;
    margin: 5.2em .5em 0 6em;
}

input#searchbar {
    float: left;
    width: 30%;
    margin: 8em 6em 0 0;
}

#botones {
    float: left;
    margin: 5em 0 0 5em;
}

input label {
    padding: .2em;
    display: block;
    position: relative;
}

body {
    background-image: url("./Imagen/background.jpg");
    background-position: center top;
    background-attachment: fixed;
}

nav ul li {
	font-family: pacifico-regular, Verdana, sans-serif;
    font-size: 25px;
    padding: 5px;
    background-color:#5733FF;
}

a {
    text-decoration: none;
}

a:link {
	color: #FF429D;
}
a:visited {
	color: #FF2000;
}
a:hover {
	color: #FF740D;
}
a:focus {
	outline: thin dotted;
}

nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thick solid #FF003A;
    border-collapse: collapse;
}

nav {
	display: table;
	width: 96%;
	margin: 0 auto;
	float: none;
}

